*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
<<<<<<< HEAD
body {
  font-family: 'Nanum Gothic', Arial, Helvetica, sans-serif;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

=======
=======
body {
  font-family: "Nanum Gothic", Arial, Helvetica, sans-serif;
}

>>>>>>> e23180d (refactor: about 페이지 fsd 아키텍처에 맞춰 리팩토링)
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

>>>>>>> cf5b257 (feat: global css 적용)
html:focus-within {
  scroll-behavior: smooth;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> d8737b0 (refactor: fsd 아키텍쳐에 맞춰 posts 컴포넌트 리팩토링)
a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  &:not([class]) {
    text-decoration-skip-ink: auto;
  }
<<<<<<< HEAD
=======
a:not([class]) {
  text-decoration-skip-ink: auto;
>>>>>>> cf5b257 (feat: global css 적용)
=======
>>>>>>> d8737b0 (refactor: fsd 아키텍쳐에 맞춰 posts 컴포넌트 리팩토링)
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> e23180d (refactor: about 페이지 fsd 아키텍처에 맞춰 리팩토링)
table {
  border-collapse: collapse;
  border-spacing: 0;
}

<<<<<<< HEAD
=======
>>>>>>> cf5b257 (feat: global css 적용)
=======
>>>>>>> e23180d (refactor: about 페이지 fsd 아키텍처에 맞춰 리팩토링)
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
<<<<<<< HEAD

=======
>>>>>>> cf5b257 (feat: global css 적용)
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}
