:root {
  --base-blue: 202, 100%;
  --base-gray: 211, 19%;
  --base-danger: 358, 67%;
  --base-warning: 1, 100%;
  --base-success: 168, 100%;

  --palette-blue-10: var(--base-blue), 92%;
  --palette-blue-50: var(--base-blue), 59%;
  --palette-blue-100: var(--base-blue), 27%;

  --palette-gray-10: var(--base-gray), 91%;
  --palette-gray-20: var(--base-gray), 84%;
  --palette-gray-40: var(--base-gray), 76%;
  --palette-gray-60: var(--base-gray), 68%;
  --palette-gray-80: var(--base-gray), 53%;
  --palette-gray-100: var(--base-gray), 33%;

  --primary-color: hsla(var(--palette-blue-50), 100%);
  --secondary-color: hsla(var(--palette-blue-10), 100%);

  --danger-color: hsla(var(--base-danger), 55%);
  --warning-color: hsla(var(--base-warning), 71%);
  --success-color: hsla(var(--base-success), 38%);

  --header-height: 64px;
  --footer-height: 105px;

  /* break points */
  --breakpoint-mini: 320px;
  --breakpoint-extra-small: 360px;
  --breakpoint-small: 480px;
  --breakpoint-medium: 576px;
  --breakpoint-large: 768px;
  --breakpoint-extra-large: 992px;
  --breakpoint-xx-large: 1200px;
  --breakpoint-xxx-large: 1600px;
  --breakpoint-ultra: 1920px;
}
