.post-layout-container {
  padding-top: 76px;
  padding-bottom: 76px;
}

.post-layout-title {
  margin-bottom: 38px;
}
<<<<<<< HEAD
=======

.post-layout-tags {
  margin-top: 16px;
  margin-bottom: 8px;
}
>>>>>>> ebf7538 (refactor: fsd 패턴에 맞춰 블로그 목록 리팩토링)
