.work-expereince-logs-root {
  width: 100%;
  padding-left: 30px;

  &:not(:last-of-type) {
    margin-bottom: 60px;
  }
}

.work-expereince-log {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.work-expereince-log-project {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.work-expereince-log-period {
  color: hsla(var(--palette-gray-60), 100%);
  font-size: 14px;
}

<<<<<<< HEAD
=======
.work-expereince-log-tags {
  display: flex;
  margin-top: 16px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 8px 6px;
}

>>>>>>> cc4cb6c (refactor: about 페이지 정리)
.work-expereince-log-descriptions {
  margin-top: 15px;
  margin-left: 14px;
  margin-bottom: 6px;
  list-style-position: outside;
  list-style-type: disc;
}

.work-expereince-log-description {
  line-height: 1.5;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }
}
