.post-layout-content-root {
  padding-top: 56px;
  padding-bottom: 28px;

  h2 {
    margin-top: 38px;
    margin-bottom: 28px;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.5;
  }

  h3 {
    margin-top: 36px;
    margin-bottom: 28px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
  }

  h4 {
    margin-top: 34px;
    margin-bottom: 28px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5;
  }

  h5 {
    margin-top: 32px;
    margin-bottom: 28px;
    font-size: 22px;
    font-weight: 700px;
    line-height: 1.5;
  }

  h6 {
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
  }

  p {
    font-size: 17px;
    line-height: 1.8;
    font-weight: 400;
    word-break: break-all;
    word-wrap: break-word;

    &:not(:last-of-type) {
      margin-bottom: 28px;
    }
  }

  ul,
  ol {
    margintop: 28px;
    marginbottom: 28px;
    paddingleft: 28px;
    fontsize: 17px;
    lineheight: 1.7;
    fontweight: 400;
    word-break: keep-all;
    overflow-wrap: break-word;

    li {
      margin-bottom: 6px;
    }

    ul,
    ol {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }

  img {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  a {
    position: relative;
    color: hsla(var(--palette-blue-30), 100%);
    padding-bottom: 1px;

    &:hover {
      border-bottom: 1px solid hsla(var(--palette-blue-30) ; 100%);
    }
  }

  pre[class*="language-"] {
    font-size: 14px;
    margintop: 28px;
    marginbottom: 28px;
  }
}
