.work-expereince-logs-root {
  width: 100%;
}

.work-expereince-log-root {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.work-expereince-log-project-root {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

.work-expereince-log-period-root {
  color: hsla(var(--palette-gray-60), 100%);
  font-size: 14px;
}

.work-expereince-log-tags-root {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 6px;
}

.work-expereince-log-descriptions-root {
  list-style-position: outside;
  list-style-type: disc;
}

.work-expereince-log-description-root {
  line-height: 1.5;
}
