.post-more-button-root {
  margin-top: 64px;
  padding: 0px;

  &:after {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: hsla(var(--palette-blue-80), 100%);
    content: "";
    mask-image: url("/images/chevron-compact-right.svg");
    mask-size: 18px;
  }
}

.post-more-button-text {
  font-size: 18px;
  color: hsla(var(--palette-blue-80), 100%);
}
