.header-root {
  display: flex;
  width: 100%;
  height: var(--header-height);
  padding: 0 12px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 8px hsla(var(--palette-gray-20), 100%);

  a {
    color: hsla(var(--palette-gray-60), 100%);
  }
}

.header-logo {
  max-width: 194px;
  height: auto;
}

.header-navigation {
  padding-left: 28px;
}

.header-navigation-list {
  display: flex;
  column-gap: 12px;
  list-style: none;
}

.header-navigation-item {
  height: 36px;
  line-height: 36px;
}

.header-navigation-item-link {
  display: inline-flex;
  width: 36px;
  height: 100%;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background-color: hsla(var(--palette-gray-20), 100%);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  color: hsla(var(--palette-gray-80), 100%);

  &.tags {
    background-image: url("/images/tags.svg");
  }

  &.about {
    background-image: url("/images/about.svg");
  }
}

@mixin min-width $xxSmallDevice {
  .header-root {
    padding: 0 24px;
  }
}

@mixin min-width $smallDevice {
  .header-navigation {
    padding-left: 0;
  }

  .header-navigation-list {
    column-gap: 32px;
  }

  .header-navigation-item-link {
    width: auto;
    height: auto;
    background-color: transparent;
    font-size: 18px;
    color: hsla(var(--palette-gray-60), 100%);

    &:hover {
      color: hsla(var(--palette-gray-80), 100%);
    }

    &.tags {
      background-image: none;

      &:after {
        content: "Tags";
      }
    }

    &.about {
      background-image: none;

      &:after {
        content: "About";
      }
    }
  }
}
