:root {
  --base-compact-device: 320;
  --base-extra-extra-small-device: 360;
  --base-extra-small-device: 480;
  --base-small-device: 576;
  --base-medium-device: 768;
  --base-large-device: 992;
  --base-extra-large-device: 1200;
  --base-extra-extra-large-device: 1400;
  --base-ultra-wide-device: 1920;
}
