:root {
  --base-compact-device: $compactDevice;
  --base-xx-small-device: $xxSmallDevice;
  --base-x-small-device: $xSmallDevice;
  --base-small-device: $smallDevice;
  --base-medium-device: $mediumDevice;
  --base-large-device: $largeDevice;
  --base-xLargeDevice: $xLargeDevice;
  --base-xxLargeDevice: $xxLargeDevice;
  --base-ultra-wide-device: $ultraWideDevice;
}
