.container-root {
  width: 100%;
  padding: 115px 16px 76px;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

@mixin min-width $small {
  .container-root {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@mixin min-width $large {
  .container-root {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
