.container-root {
  width: 100%;
  padding: 0 16px;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

<<<<<<< HEAD
<<<<<<< HEAD
@mixin min-width $smallDevice {
=======
@mixin min-width $small {
>>>>>>> 7c4c06c (refactor: 공통 컴포넌트 fsd 아키텍처로 재작업)
=======
@mixin min-width $smallDevice {
>>>>>>> e23180d (refactor: about 페이지 fsd 아키텍처에 맞춰 리팩토링)
  .container-root {
    padding-left: 20px;
    padding-right: 20px;
  }
}

<<<<<<< HEAD
<<<<<<< HEAD
@mixin min-width $largeDevice {
=======
@mixin min-width $large {
>>>>>>> 7c4c06c (refactor: 공통 컴포넌트 fsd 아키텍처로 재작업)
=======
@mixin min-width $largeDevice {
>>>>>>> e23180d (refactor: about 페이지 fsd 아키텍처에 맞춰 리팩토링)
  .container-root {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}
