.tag-root {
  display: inline-block;
  padding: 4px 16px;
  background-color: hsla(var(--palette-blue-20), 100%);
  border-radius: 4px;
  font-size: 14px;
  color: hsla(var(--palette-gray-70), 100%);
}
