.work-expereince-company-root {
  position: relative;
  padding-left: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;

  &:before {
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--primary-color);
    top: 0;
    left: 0;
    bottom: 0;
    content: "";
  }
}

.work-expereince-company-sub-text {
  display: inline-block;
  margin-left: 6px;
  font-size: 16px;
}
